@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

:root {
  --primary-color: #eba974;
  --secondary-color: #d4d4d4;
  --tertiary-color: #03fd28;
  --forth-color: #000;
  --fifth-color: #fff;
  --sixth-color: #679bee;
  --font-size: 16px;
  --font-size-large: 24px;
  --font-size-medium: 20px;
  --font-size-small: 14px;
  --font-size-tiny: 10px;
  --font-size-micro: 8px;
}

h1 {
  font-size: var(--font-size-large);
  color: var(--forth-color);
}

h2 {
  font-size: var(--font-size-medium);
  color: var(--forth-color);
}

h3 {
  font-size: var(--font-size);
  color: var(--forth-color);
}

p,
span {
  font-size: var(--font-size-small);
  color: var(--forth-color);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background-image: url('https://img.freepik.com/premium-photo/cartoon-vector-illustration-cyber-monday-sale-with-background-colorful-discount-stickers-shopping-icons-cartoon-vector-illustration_1288601-10018.jpg?w=1380');
  background-size: cover;
  filter: brightness(75%);
  background-position: center;
  z-index: -1;
}

header {
  position: fixed;
  width: 100%;
  height: 8rem;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  background-color: var(--fifth-color);
  color: var(--fifth-color);
  z-index: 1;
}

.header-div-left,
.header-div-right {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0px;
  margin: 0;
}

.header-div-left,
.header-div-right {
  justify-content: space-around;
}

.header-list-left,
.header-list-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: var(--font-size-medium);
  font-weight: bolder;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-shadow: 2px 2px 4px var(--forth-color);
}

.header-list-left li,
.header-list-right li {
  justify-content: flex-start;
  padding: 0px;
  text-decoration: none;
}

.header-list-left li a,
.header-div-right li a {
  text-decoration: none;
  color: var(--fifth-color);
  padding: 20px;
}

.header-list-left li:hover,
.header-list-right li:hover {
  text-decoration: none;
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  outline: none;
}

.search-button {
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button img {
  width: 20px;
  height: 20px;
}

main {
  width: 100%;
  height: 100%;
  padding: 0;
  flex: 1;
}

.main-container {
  display: flex;
  margin-top: 8rem;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
}

.section-categories {
  grid-column: 1 / 2;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 8rem;
  width: 15rem;
  left: 0;
  background-color: var(--primary-color);
  height: 100%;
  border-right: 1px solid #ddd;
}

.h2-categories {
  margin: 1.5rem;
  margin-bottom: 2rem;
  font-size: var(--font-size-large);
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px var(--forth-color);
}

.ul-categories {
  list-style: none;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-content: center;
}

.ul-categories li {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.ul-categories li a {
  text-decoration: none;
  color: var(--forth-color);
  font-weight: bold;
}

.ul-categories li a:hover {
  color: #5e29b9;
}

.section-products {
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 15rem;
  gap: 2rem;
  padding: 2rem;
}

.h1-products {
  padding: 0;
  margin: 1rem;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: var(--forth-color);
}

.card {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-content: center;
  width: 18rem;
  height: 24rem;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0px 6px 23px -15px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
  border-radius: 1rem;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 13rem;
  height: 12rem;
  border-bottom: 1px solid #ddd;
  object-fit: cover;
  border-radius: 1rem;
}

.card h2 {
  font-size: var(--font-size-medium);
  margin: 1rem;
}

.footer {
  width: 100%;
  height: 11rem;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: var(--sixth-color);
}

.footer-container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0;
  height: 11rem;
  margin-left: 15rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0.5rem;
}

.footer-section h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: var(--fifth-color);
  transition: color 0.3s ease;
}
.footer-section ul li a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 1072px) {
  header,
  .background {
    height: 8rem;
  }

  .header-list-left,
  .header-list-right {
    font-size: var(--font-size-small);
  }

  .header-list-left li {
    padding: 10px;
  }

  .header-list-right li {
    justify-content: space-around;
    padding: 10px;
  }

  .header-list-left li a,
  .header-div-right li a {
    text-decoration: none;
    color: var(--fifth-color);
    padding: 20px;
  }
}

@media (max-width: 915px) {
  .section-categories {
    width: 12rem;
  }

  .h2-categories {
    margin-bottom: 1rem;
  }

  .ul-categories li {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .section-products {
    margin-left: 12rem;
  }

  .card {
    width: 14rem;
    height: 20rem;
  }

  .card img {
    width: 10rem;
    height: 8rem;
    border-bottom: 1px solid #ddd;
    object-fit: contain;
    border-radius: 1rem;
  }

  .card h2 {
    font-size: var(--font-size-medium);
    margin: 1rem;
  }

  .footer-container {
    margin-left: 12rem;
    height: 10rem;
  }

  .footer-section {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 785px) {
  .section-products {
    margin-left: 12rem;
  }

  .footer-container {
    height: 10rem;
    margin-left: 12rem;
  }

  .social-media ul a {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 768px) {
  .section-categories {
    width: 10rem;
  }

  .h2-categories {
    margin-bottom: 2rem;
    font-size: var(--font-size-medium);
  }

  .ul-categories li {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .ul-categories li a {
    font-size: var(--font-size-small);
  }

  .section-products {
    margin-left: 10rem;
  }

  .footer-container {
    margin-left: 10rem;
    height: 8rem;
    justify-content: center;
    align-items: center;
  }

  .footer-section {
    margin: 0;
  }

  .footer-section h4 {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 700px) {
  .search-container {
    padding: 0;
    margin: 0;
  }

  .header-list-left li a,
  .header-div-right li a {
    padding: 0px;
  }

  .footer-section {
    font-size: var(--font-size-tiny);
  }
}

@media (max-width: 550px) {
  .section-categories {
    width: 8rem;
  }

  .h2-categories {
    margin-bottom: 1.5rem;
    font-size: var(--font-size-medium);
  }

  .ul-categories li {
    margin-bottom: 1.3rem;
    padding: 0.3rem;
  }

  .ul-categories li a {
    font-size: var(--font-size-small);
  }

  .section-products {
    margin-left: 8rem;
  }

  .footer-container {
    margin-left: 8rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
  }

  .footer-section {
    margin: 0;
  }

  .footer-section h4 {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 500px) {
  .header-list-left,
  .header-list-right {
    font-size: var(--font-size-tiny);
  }
}

/* movil responsive */
@media (min-width: 375) and (max-width: 480px) {
}
